.console {
    display: block;
    max-height: 200px;
    border-top: 1px solid black;
    bottom: 0;
    margin: 1em 0;
    width: 100vw;
    margin: 0;
    position: absolute;
    background-color: aliceblue;
    overflow: scroll;
}

.console > div {

    display:block;
    width: 100%;
    
}
.console p {
    border-bottom: 1px solid #ddd;
    padding: .3em .8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Lucida Grande', sans-serif;
    font-size: .75em;

}
.console :last-child {
    border-bottom: none
}

.status {
            position: absolute;
            bottom:10px;
            right: 10px;
            border:1px solid #efefef;
            padding:4px;
            color: #efefef
        }
        body { background-color: red;}