.status {
    position: absolute;
    bottom:10px;
    right: 10px;
    border:1px solid #efefef;
    padding:4px;
    color: #efefef
}
body { background-color: red;}
body.connected { background-color: green;}