:root {
    --background: hsl(251, 16%, 21%);
    --dark-bg: hsl(251, 80%, 55%);
    --light-bg: hsl(251, 80%, 95%);
    --medium-bg: hsl(251, 35%, 69%);
    --dark: hsl(251, 80%, 55%);
    --light: hsl(251, 35%, 95%);
    --normal: #666;

    --hover-bg: hsl(251, 81%, 96%);
    --current-bg: hsl(251, 81%, 94%);
    --active-bg: hsl(254, 82%, 57%);
    --hover: hsl(254, 82%, 57%);
    --current: hsl(254, 82%, 57%);
    --active: hsl(251, 81%, 96%);
    --radius-big: 15px;
    --radius-small: 7px;

    --blur-color: #ccc;
}