table {
    width: 100%;
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}

table tr {
    border-bottom: 1px solid var(--light-border)
}
table th,
table td {
    height: 3rem;
    line-height: 3rem;
    text-overflow: ellipsis;
    text-align:left;
    padding: 0 1rem 0 1rem;
}
table th {
    font-weight: 500;
    text-transform: capitalize;
}

table td {
    transition: var(--transition-time);
}
table td.editable {
    cursor: pointer;
}
table td:hover {
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
}