

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);
    padding: 2rem
}

main > header {
    
    flex: 0 1 calc(100vw + 2rem);
    background: white;
    margin: -2rem;
    padding: 2rem;
    border-bottom: 1px solid var(--light-border);
    margin-bottom: 1rem;
    width: 150%;
}

main > section,
main > form {
    flex-grow: 1;
    background-color: white;
    padding: 2rem;
    border-radius: var(--radius-large);
    border: 1px solid var(--light-border);
}

main > section {
    margin: 1rem
}
main > section:first-of-type {
    margin-left: 0rem
}

main > section:last-of-type {
    margin-right: 0rem
}

main > form {

}