:root {
    --background: hsl(0, 0%, 95%);
    --dark-bg: hsl(222, 47.4%, 11.2%);
    
    --light-bg: hsl(0, 0%, 80%);
    --medium-bg: hsl(251, 35%, 69%);
    --dark: hsl(251, 80%, 55%);
    --light: hsl(251, 35%, 95%);
    --normal: hsl(0, 0%, 80%);

    --hover-bg: hsl(251, 81%, 96%);
    --current-bg: hsl(251, 0%, 100%, 0.15);
    --active-bg: hsl(254, 82%, 57%);
    --hover: hsl(0, 0%, 100%);
    --current: hsl(254, 82%, 100%);
    --active: hsl(251, 81%, 96%);
    --radius-big: 15px;
    --radius-small: 7px;
    --header-color: 30,41,59;
    --blur-color: #ccc;
    --text-color: #1e293b
}

[class=color-alt] {
    --color-alt: rgb(129, 140, 248)
}